@model RSGymClientManagment.Models.Contracts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contracts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client!.ClientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loyalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loyalty!.LoyaltyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ContractId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
