@model IEnumerable<RSGymClientManagment.Models.GymClasses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-custom">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassPrice)
            </td>
            <td>
                <a class="btn btn-outline-dark btn-sm btn-custom-rounded" asp-action="Edit" asp-route-id="@item.GymClassId">Edit</a> |
                <a class="btn btn-outline-primary btn-sm btn-custom-rounded" asp-action="Details" asp-route-id="@item.GymClassId">Details</a> |
                <a class="btn btn-outline-danger btn-sm btn-custom-rounded" asp-action="Delete" asp-route-id="@item.GymClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
